@media only screen and (min-width: 768px){
    #left-label{
        min-height: 100%;
        text-align: right;
        padding: 10px;
        line-height: 30px;
    }
    
    #left-label-header{
        text-align: center;
    }
    
    .map-content{
        padding: 5px;    
    }
    
    /* .select-col{
        padding: 5px;    
    } */

}

#mapping-header{
    padding: 0 5% 0 1%;

}

.map-toolbar{
    background-color: #424242;
    color: white;
    padding: 0.75rem 1.5rem;
}

.fuseSelectField{

}

.link-sty{
    color: white;
}


